<div class="container">
  <h1>Could Not Sign In</h1>
  <h2>Please check your username/password combination</h2>
  <a href="/">Back to Main Page</a>
  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
</div>