<div class="background">
	<div class="index">
	    <h1>Welcome</h1>
	    <h2>Please Sign In</h2>
	  <%# TODO: 
	  1. If user is not signed in - display "Welcome".
	  2. If user is signed in then  display all users %>
	</div>
</div>