<div class="background">
  <div class="profile">
    <img class="profile_photo" src="/img/default_pic.png">
    <br>
    <h1><%= @user.username %></h1>
    <br>
    <% if current_user %>
      <% if current_user.username == @user.username %>
        <div class="post_tweet">
          <form action='/user/<%= @user.username %>' method="post">
            <textarea maxlength="140" name="content" placeholder="Enter your tweet.."></textarea><br>
            <input id="submit_button" type="submit" value="Tweet">
          </form>
        </div>
      <% end %>
    <% else %>
    <% end %>
    <% @tweets.reverse.each do |tweet| %>
    <div class="tweet"> 
      <div class="tweet_body">
        <span class="tweet_pic"><img src="/img/default_pic.png">
        </span>
        <span class="tweet_content">
          <%=h tweet.content %>
        </span>
      </div>
      <div class="tweet_footer">
        <span class="retweet_follow">
        </span>
        <span class="time">
          Created at: <%= tweet.created_at %>
        </span>
      </div>
    </div>
    <% end %>
  </div>
</div>